@use "../../styles/globals";

.headFoot {
  background-color: var(--green);
  width: 100%;
  padding: 16px 0;
}

.headFootWrapper {
  color: var(--white);
  margin: 0 60px;
}

.headLink {
  transition: 0.3s;
}

.headLink:hover {
  color: var(--blue-color);
}