@use "../Header/style.module";

.footer {
  padding: 20px 0 ;
  background-color: var(--fortnite-dark);
  border-top: 3pxx solid var(--fortnite-purple);
  font-family: 'Burbank Big Condensed', sans-serif;
}

.footerWrapper {
  //background-color: var(--dark-blue-color);
  height: auto;
  padding: 10px 0;
}

.footerItems {
  justify-content: space-around;
  height: 60px;
}

.GHLink {
  transition: 0.3s;
}

.GHLink:hover {
  transform: scale(1.1);
}


svg path {
  transition: 0.3s;
  fill: var(--fortnite-cyan);
}

svg:hover path {
  fill: var(--fortnite-pink);
}

.date {
  color: var(--white);
}