.preloader{
  position: relative;
  min-height: 100px;
  padding-bottom: 60px;;
  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
    height: 100%;
    width: 100%;


    display: block !important;
    user-select: none;
  }
  &:after{
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    width: 60px;
    height: 60px;
    border: 4px solid var(--light-grey);
    border-top: 4px solid var(--light-blue-color);
    border-radius: 50%;
    animation: preloader .6s infinite linear;
  }
}

@keyframes preloader {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}