@font-face {
  font-family: 'Burdank Big Condensed';
  src: url('../shared/assets/fonts/Burbank Big Condensed Font.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}