@use "../../../styles/globals";
@use "../../CartList/style.module";

.checkoutWrapperPos {
  margin: 0 auto;
  width: 800px;
}

.checkoutWrapperStyle {
  margin: 60px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}



.WrapperForm {
  max-width: 100%;
}

.formTitle {
  margin: 30px 0;
}

.formItem {

}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.isError {
  border: 1px solid var(--red);
}

.errorText {
  color: var(--red);
}

.finalCost {
  margin-top: 40px;
}

.submitButton {
  padding: 10px;
}

.checkoutList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}